@use './colors' as *;
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 70px;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Mulish', sans-serif;
	background-color: $white;
	color: $text-color;
	overflow-x: hidden;
	h1 , h2 , h3 , h4{
		font-family: 'Roboto Slab', sans-serif;
		font-weight: bold;
	}
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 20px;
}

.burger-btn {
	position: fixed;
	top: 1%;
	right: 0;
	display: flex;
	padding: 5px 10px;
	color: $white;
	z-index: 100;
	svg{
		width: 42px;
	height: 42px;
	}
}
.nav {
	position: fixed;
	width: 100%;
	height: 64px;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 5;

	.wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		height: 64px;
	}
	

	&__box {
		flex: 1;
		display: none;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 3em;
	}
	
	&__logo {
		z-index: 1000;
		margin-top: 23px;
		img {
			height: 56px;
			z-index: 10000;
		}
	}

	&__link {
		position: relative;
		color: $white;
		font-size: 1.6rem;
		padding: 0.5em;
		text-decoration: none;
		text-transform: uppercase;
		transition: scale 0.5s;

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			background-color: $main-color;
			height: 2px;
			width: 100%;
			transform: scaleX(0);
			transition: transform 0.4s;
			transform-origin: right;
		}

		&:hover::after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
	&__btn-box {
		flex: 0 0 auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1.5em;
	}
	&__link--btn {
		display: none;
		color: $white;
		font-size: 1.4rem;
		padding: 0.5em 1em;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		text-transform: uppercase;
		border: 1px solid $main-color;
		border-radius: 10px;
		transition: color, background-color 0.5s;
		&:hover {
			background-color: $main-color;
			color: $text-color;
		}
		svg {
			margin-left: 10px;
		}
	}
	.gps{
		display: flex;
	}
	.pc-btn{
		display: flex;
	}
}

.header {
	&__bg {
		position: relative;
		background-image: url('../img/hero-img.webp');
		width: 100%;
		height: 85vh;
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
	}
	&__bg-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 85vh;
		background-color: rgba(0, 0, 0, 0.85);
		z-index: 0;
	}
	&__text {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 80%;
		color: $white;
		z-index: 1;
		h1 {
			font-size: 3.5rem;

		}
		p {
			font-size: 1.8rem;
			margin-top: 1.4em;
			margin-bottom: 3em;
			font-family: 'Mulish';
		}
	}

	&__btn {
		position: absolute;
		top: 88%;
		color: $white;
		font-size: 1.6rem;
		padding: 0.6em 1.2em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		border: 4px solid $main-color;
		border-radius: 10px;
		transition: background-color, color 0.5s;

		&:hover {
			background-color: $main-color;
			color: $text-color;
		}
	}
	.aboutus-cta {
		top: 77%;
		color: $white;
		background: none;
		border: 4px solid $white;
		&:hover {
			background-color: $white;
			color: $text-color;
		}
	}

	.people {
		display: none;
		justify-content: flex-end;
		&__img {
			position: absolute;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 95%;
			z-index: 1;
			.men {
				height: 380px;
				width: 380px;
			}
		}
	}
}
main {
	.section-title {
		position: relative;
		margin-top: 15%;
		margin-bottom: 5%;

		text-align: center;
		color: $text-color;
		text-transform: uppercase;
		z-index: 1;
		h2 {
			font-size: 3.2rem;
		}
		.title-underline {
			position: absolute;
			bottom: 0;
			top: 35px;
			left: 50%;
			transform: translateX(-50%);
			width: 30%;
			height: 4px;
			border-radius: 10px;
			background-color: $main-color;
		}
	}
	.offers {
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 18px;
		}
		.offers-box {
			display: flex;
			position: relative;
			text-decoration: none;
			color: $text-color;
			width: 350px;
			height: 400px;
			border: 1px solid $secoundary;
			border-radius: 25px;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
			transition: 0.3s;
			cursor: pointer;

			&__img {
				display: flex;
				justify-content: center;
				width: 100%;
				height: 200px;
				background-color: #fff;
				border-radius: 25px 25px 0 0;
				border-bottom: 1px solid $secoundary;
				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					border-radius: 25px 25px 0 0;
				}
			}
			&__heading {
				position: absolute;
				top: 55%;
				left: 50%;
				transform: translateX(-50%);
				font-size: 1.4rem;
				text-wrap: nowrap;
				border-bottom: 3px solid $main-color;
			}
			&__price {
				position: absolute;
				top: 70%;
				left: 50%;
				transform: translateX(-50%);
				font-size: 2.4rem;
				font-weight: bold;
				text-wrap: nowrap;
	
			}
			&__btn {
				position: absolute;
				top: 85%;
				left: 50%;
				cursor: pointer;
				transform: translateX(-50%);
				background-color: $main-color;
				border: 4px solid $main-color;
				text-align: center;
				font-weight: bold;
				font-size: 1.8rem;
				text-transform: uppercase;
				padding: 0.5em 1em;
				border-radius: 10px;
				width: 60%;
				box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
				transition: 0.3s;
				&:hover {
					background-color: transparent;
				}
				i {
					font-weight: bold;
					font-size: 2rem;
					margin-left: 5px;
				}
			}
		}
		.see-more-box {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-top: 3%;
			text-decoration: none;
			.see-more-btn {
				background-color: $main-color;
				color: $text-color;
				text-align: center;
				max-width: 1100px;
				width: 90%;
				border: 4px solid $main-color;
				font-size: 2.1rem;
				padding: 0.6em 1.2em;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				white-space: nowrap;
				border-radius: 10px;
				transition: transform, box-shadow 0.5s;
				cursor: pointer;
				&:hover {
					transform: scale(1.03);
					box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
				}
			}
		}
	}
	.about-us {
		&__box {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 10px;
			color: $text-color;
			margin-bottom: 16px;
			transition: color 0.3s;

			&:hover {
				color: $main-color;
			}
		}
		svg {
			text-align: center;
			width: 75px;
			height: 75px;
			margin-bottom: 7px;
			text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
		}
		&__heading {
			font-size: 1.8rem;
			margin-top: 8px;
			height: 20px;
		}
		&__text {
			font-size: 1.4rem;
			text-align: center;
			padding: 8px 16px;
			height: 100px;
		}
	}
	.services {
		&__text-box {
			border: 1px solid $secoundary;
			list-style: none;
			padding-left: 20px;
			h3 {
				font-size: 24px;
				text-align: left;
				margin-left: 10%;
	
				color: $text-color;
				margin-bottom: 2%;
				margin-top: 5%;
			}
			p {
				font-size: 1.6rem;
				margin-top: 3%;
				color: $text-color;
				margin-left: 10%;
				margin-bottom: 3%;
			}
		}
		&__text {
			font-size: 1.8rem;
			padding: 10px;
			text-align: left;
			text-indent: -10px;
			color: $text-color;
			&::before {
				content: '•';
				color: $main-color;
				font-size: 20px;
				padding-left: 10%;
				padding-right: 15px;
			}
		}
	}
	.faq {
		padding: 64px 32px;
		&__dropdown {
			margin: 0 auto;
			justify-content: flex-start;
			list-style: none;

			li {
				border-bottom: 1px $secoundary solid;
				&:first-child {
					border-top: 1px $secoundary solid;
				}
			}
			p {
				color: $text-color;
				font-size: 1.6rem;
				line-height: 25px;
			}
			span {
				font-size: 1.8rem;
			}
		}
		.q {
			padding: 16px 0;
			cursor: pointer;
			transition: border-left-color 0.3s;
			&:hover {
				border-left-color: $main-color;
				.arrow {
					border-left-color: $main-color;
				}
			}
		}
		.arrow {
			display: inline-block;
			margin: 0 8px;
			width: 0;
			height: 0;
			border-top: 6px solid transparent;
			border-left: 10px solid $text-color;
			border-bottom: 6px solid transparent;
			transition: border-left-color 0.3s;
		}
		.a {
			overflow: hidden;
			height: 0;
			padding: 0 16px 0 52px;
			background-color: #e7e9eb;
		}
		.a-opened {
			overflow: visible;
			padding: 16px 16px 16px 32px 52px;
			height: initial;
		}
		.arrow-rotated {
			transform: rotate(90deg);
		}
	}
}
.footer {
	position: relative;
	margin-top: 10%;
	background-color: #ccc;
	&__logo {
		width: 40%;
		height: 50%;
	}
	&__contact {
		position: absolute;
		top: 30%;
		left: 65%;
		color: $text-color;
		p {
			font-size: 2.2rem;
		}
		.phone-number {
			margin-top: 20%;
		}
		h3 {
			font-size: 4.2rem;
			margin-bottom: 20%;
		}
	}
	&__bottom {
		margin-top: 5%;
		background-color: #bbb;
		p {
			font-size: 1.6rem;
			text-align: center;
			padding-bottom: 1em;
			padding-top: 1em;
		}
	}
}
.card-site {
	.equipment {
		margin-top: 50px;
		width: 90vw;
		height: 50vh;
		border-radius: 15px;
		border: 4px solid #fff;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	}
	.title {
		font-size: 2.4rem;
		font-weight: bold;
		text-align: center;
		margin-top: 8px;
		border: 4px solid #fff;
		background-color: #fff;
		border-radius: 15px;
		padding: 8px;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	}
	.price {
		font-size: 1.6rem;
		font-weight: bold;
		margin-top: 16px;
		text-align: center;
		border: 4px solid #fff;
		background-color: #fff;
		border-radius: 15px;
		padding: 8px;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	}
	.caution {
		font-size: 1.6rem;
		margin-top: 12px;
		margin-bottom: 8px;
		text-align: center;
		border: 4px solid #fff;
		background-color: #fff;
		border-radius: 15px;
		padding: 8px;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	}
	a{
		text-decoration: none;
	}
	.contact-btn {
		display: block;
		font-size: 1.8rem;
		font-weight: bold;
		font-family: 'Mulish', sans-serif;
		padding: 0.5em 1em;
		margin: 0 auto;
		margin-top: 20px;
		width: 60vw;
		background-color: $main-color;
		border: 4px solid $main-color;
		border-radius: 10px;
		transition: background-color 0.3s;
			&:hover {
				background-color: transparent;
			}
			
	}
	.location-btn {
		display: block;
		background-color: transparent;
		&:hover{
			background-color: $main-color;
		}
	}
	.pc-btn{
		display: none;
	}
	.description-title {
		font-weight: bold;
		font-size: 2.4rem;
		text-align: center;
		margin-top: 42px;
		margin-bottom: 12px;
		border: 4px solid #fff;
		background-color: #fff;
		border-radius: 15px;
		padding: 8px;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	}
	.description {
		border: 4px solid #fff;
		background-color: #fff;
		border-radius: 15px;
		padding: 16px;
		margin-top: 6%;
		text-align: center;
		font-size: 1.8rem;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	}
}
// telefon

@media (max-width: 767px) {
	.nav {
		height: 64px;
		.wrapper{
			height: 64px;
		}
		&__box {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1em;
			position: fixed;
			left: 0px;
			top: 58px;
			width: 100%;
			transform: translateY(-100%);
			transition: transform 0.3s ease-in-out;

			&.active {
				transform: translateY(0);
				background-color: rgba(0, 0, 0, 0.3);
				.nav__link {
					opacity: 1;
				}
			}
		}

		&__logo {
			z-index: 10000;
			margin-bottom: 1.2em;

			font-size: 2.6rem;
		}

		&__link {
			font-size: 1.6rem;
			opacity: 0;
		}
		&__btn-box {
			position: absolute;
			justify-content: center;
			bottom: 2px;
			left: 40%;
			transform: translateX(-40%);
			text-wrap: nowrap;
		}
		&__link--btn {
			display: flex;
			font-size: 1.3rem;
			font-weight: bold;
		}
		.pc-btn{
			display: none;
		}
	}
	main {
		.offers {
			.wrapper {
				gap: 12px;
			}
			.offers-box {
				width: calc(50% - 10px); // Dwie kolumny z odstępem
				max-width: 180px; // Dla bezpieczeństwa
				height: 300px;
				margin-bottom: 7%;

				&__img {
					height: 150px;
				}
				&__heading {
					font-size: 1rem;
				}
				&__price {
					font-size: 1.8rem;
				}
				&__btn {
					font-size: 1.4rem;
					padding: 0.4em 0.8em;
					width: 80%;
				}
			}
		}
		.services {
			&__text-box {
				border: 1px solid $secoundary;
				list-style: none;
				padding-left: 20px;
				h3 {
					font-size: 2rem;
					text-align: left;
					margin-left: 5%;
		
					color: $text-color;
					margin-bottom: 2%;
					margin-top: 5%;
				}
				p {
					font-size: 1.2rem;
					margin-top: 3%;
					color: $text-color;
					margin-left: 5%;
					margin-bottom: 3%;
				}
			}
			&__text {
				font-size: 1.4rem;
				padding: 10px;
				padding-left: 0;
				text-align: left;
				text-indent: -10px;
				color: $text-color;
				white-space: nowrap;
				&::before {
					content: '•';
					color: $main-color;
					font-size: 20px;
					padding-left: 0%;
					padding-right: 10px;
				}
			}
		}
	}
	.footer {
		&__contact {
			top: 0;
			h3 {
				font-size: 2.4rem;
				margin-bottom: 3%;
			}
			p {
				font-size: 1.4rem;
				margin-top: 5%;
			}
		}
	}
}

@media (max-width: 350px) {
	.burger-btn{
		right: -3%;
	}
	nav{
		.nav__link--btn{
			font-size: 1.2rem;
			}

	}
	.header {
		&__text {
			height: 85%;
		}
		&__bg {
			height: 90vh;
		}
		&__bg-shadow {
			height: 90vh;
		}
		.header__btn {
			top: 94%;
		}
		.aboutus-cta {
			top: 80%;
		}
	}
	main {
		.offers {
			.wrapper {
				gap: 13px;
			}
			.offers-box {
				.offers-box {
					width: calc(50% - 6px); // Mniejsze odstępy na małych ekranach
				}
				max-width: 180px;
				height: 300px;
				&__img {
					height: 150px;
				}
				&__heading {
					font-size: 0.85rem;
				}
				&__price {
					font-size: 1.7rem;
				}
				&__btn {
					font-size: 1.3rem;
					padding: 0.4em 0.8em;
					width: 80%;
					font-weight: bold;
				}
			}
		}
		.services {
			&__text {
				font-size: 1.2rem;
			}
		}
	}
}
//tablet
@media (min-width: 768px) and (max-width: 1088px) {
	.burger-btn {
		display: none;
	}
	.nav {
		.nav__box {
			display: flex;
		}
		&__logo {
			margin-top: 0;
			img {
				height: 40px;
			}
		}
		&__link {
			font-size: 1.4rem;
		}
		&__logo {
			img {
				width: 160px;
			}
		}
		&__link--btn {
			font-size: 1.2rem;
		}
	}
	.header {
		&__bg {
			height: 70vh;
		}
		&__bg-shadow {
			height: 70vh;
		}
		&__text {
			position: absolute;
			left: 40%;
			transform: translateX(-50%);
			display: flex;
			align-items: flex-start;
			height: 80%;
			h1 {
				font-size: 5.4rem;
				margin-bottom: 0.6em;
			}
			p {
				margin-top: 0.2em;
				font-size: 1.8rem;
			}
			.header__btn {
				top: 75%;
			}
			.aboutus-cta {
				top: 75%;
				left: 240px;
				z-index: 1000;
			}
		}
	}
}
//komputer
@media (min-width: 1089px) {
	.burger-btn {
		display: none;
	}
	.nav {
		.nav__box {
			display: flex;
		}
		&__logo {
			margin-top: 32px;
			img {
				width: 240px;
				height: 110px;
			
			}
		}
	}
	.header {
		&__bg {
			height: 80vh;
		}
		&__bg-shadow {
			height: 80vh;
		}
		&__text {
			position: absolute;
			left: 40%;
			transform: translateX(-50%);
			display: flex;
			align-items: flex-start;
			height: 80%;
			h1 {
				font-size: 5.4rem;
				margin-bottom: 0.6em;
			}
			p {
				margin-top: 0.2em;
				font-size: 1.8rem;
			}
			.header__btn {
				top: 72%;
			}
			.aboutus-cta {
				top: 72%;
				left: 280px;
				z-index: 1000;
			}
		}
		.people {
			display: flex;
		}
	}
	main {
		.section-title {
			margin-top: 5%;
			h2 {
				font-size: 4.2rem;
			}
			.title-underline {
				top: 50px;
			}
		}
		.about-us {
			.wrapper {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-evenly;
			}
			&__box {
				width: calc(33.33% - 20px);
				margin-top: 20px;
			}
			&__icon {
				font-size: 4.2rem;
			}
			&__heading {
				font-size: 2.2rem;
			}
			&__text {
				font-size: 1.8rem;
			}
		}
		.faq {
			&__dropdown {
				span {
					font-size: 2.4rem;
				}
				p {
					font-size: 1.8rem;
				}
			}
		}
	}
	.card-site {
		.equipment {
			margin-top: 100px;
			margin-left: 30px;
			width: 40vw;
			height: 60vh;
			border-radius: 15px;
		}
		.title {
			position: absolute;
			top: 25%;
			left: 65%;
			font-size: 4rem;
			text-align: center;
			margin-top: 8px;
		}
		.price {
			position: absolute;
			left: 65%;
			top: 35%;
			font-size: 4.2rem;
			font-weight: bold;
			margin-top: 16px;
			text-align: center;
		}

		.caution {
			position: absolute;
			top: 45%;
			left: 65%;
			font-size: 2.4rem;
			margin-top: 24px;
			padding-bottom: 25px;
			text-align: center;
		}
		.contact-btn {
			display: none;
			position: absolute;
			top: 57%;
			left: 65%;
			font-size: 2.2rem;
			font-weight: bold;
			padding: 0.5em 1em;
			margin: 0 auto;
			margin-top: 20px;
			width: 25vw;
			background-color: $main-color;
			border: 4px solid $main-color;
			border-radius: 10px;
			
		}
		.location-btn {
			display: block;
			position: absolute;
			top: 67%;
			left: 65%;
			background-color: transparent;
			&:hover {
				background-color: $main-color;
			}
		}
		.pc-btn{
			display: block;
		}
		.description-title {
			font-weight: bold;
			font-size: 3.6rem;
			text-align: center;
			margin-top: 10%;
			margin-bottom: 12px;
		}
		.description {
			text-align: center;
			font-size: 1.8rem;
		}
	}
}
